/.venv
/venv
/debug.log
/res_data.json
/.idea
/__pycache__ */
/__pycache__
/.pytest_cache
/**/__pycache__
/random_coord_copy.json
/gen_coords.py
/example_wait.py
/cache*
/database/__pycache__
/test_request_body.json
/debug*.log
/routers